{% extends 'incs/nav.html' %}
{% load static %}
{% block content %}

<script src="https://cdn.tiny.cloud/1/r6agcln7scaowv7njlzipq0o0bvgvjuygcpyqpxij2m6at8i/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<h4 class="alert alert-info text-center">Update Product</h4>


<div class="flex justify-center items-start pt-5 bg-gray-100">
  <div class="form-style">
    <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group pb-3">
        <select class="form-control text-muted block w-full" id="states" required name="category">
          <option value="{{ products.category.name }}">{{ products.category.name }}</option>
          {% for items in categories %}
          <option value="{{ items.name }}">{{ items.name }}</option>
          {% endfor %}
        </select>
        <div class="invalid-feedback">
          Please select a valid category.
        </div>
      </div>
      <div class="form-group pb-3">
        <input type="text" placeholder="Product Name" class="form-control" id="" aria-describedby="Productname"
          name="productname" value="{{ products.name }}">
      </div>
      <div class="form-group pb-3">
        <textarea placeholder="Product Description" class="textarea form-control" id=""
          aria-describedby="Productdescription" name="productdescription">{{ products.description }}</textarea>
      </div>
      <div class="form-group pb-3">
        <input type="number" placeholder="Product Price" class="form-control" id="" aria-describedby="Productprice"
          name="productprice" value="{{ products.price }}">
      </div>
      <div class="form-group pb-3">
        <input type="number" placeholder="Product Quantity" class="form-control" id=""
          aria-describedby="Productquantity" name="productquantity" value="{{ products.quantity }}">
      </div>
      <div class="form-group pb-3">
        <input type="text" placeholder="Product Brand" class="form-control" id="" aria-describedby="Productbrand"
          name="productbrand" value="{{ products.brand }}">
      </div>
      <div class="form-group pb-3">
        <input type="file" id="image" name="images" value="" class="hidden" style="display:none;" multiple>
        {% if not product_images %}
        <label class="border p-1" for="image">Upload Image</label>
        {% else %}
        <label class="border p-1" for="image">Update Image</label><span class="ms-2 text-danger"
          style="font-size:smaller;">Current Image...</span>
        {% endif %}
      </div>
      <div class="flex overflow-x-auto">
        {% for product in product_images %}
        <div style="position: relative;">
          <img src="{{ product.image.url }}" alt="" class="me-1" style="height: 130px; width: 150px; object-fit: contain;">
        </div>
        {% endfor %}
      </div>
      <div class="pb-2">
        <button type="submit" class="btn btn-warning w-full font-bold mt-2">Update</button>
      </div>
      <a href="{% url 'cadminproducts' %}" class="btn btn-info">Back To Products</a>
    </form>
  </div>
</div>
<script>
  tinymce.init({
    selector: '.textarea',
    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
    tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
    mergetags_list: [
      { value: 'First.Name', title: 'First Name' },
      { value: 'Email', title: 'Email' },
    ]
  });
</script>

{% endblock content %}
