{% extends 'inc/nav.html'%} {% block content %}
<header>
  <link
    rel="stylesheet"
    href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"
  />
</header>

<div
  class="font-sans antialiased text-white-900 leading-normal tracking-wider bg-cover h-3/4"
  style="background-image: url('https://source.unsplash.com/1L71sPT5XKc')"
>
  <section class="min-h-screen flex flex-col">
    <div class="flex flex-1 items-center justify-center">
      <div
        class="rounded-lg sm:border-2 px-4 lg:px-24 py-16 lg:max-w-xl sm:max-w-md w-full text-center"
      >
        <form class="text-center" method="POST">
          {% csrf_token %}
          <h1 class="font-bold tracking-wider text-3xl mb-8 w-full text-white">
            Sign in
          </h1>
          <div class="py-2 text-left">
            <input
              type="email"
              class="bg-gray-200 border-2 border-gray-100 focus:outline-none block w-full py-2 px-4 rounded-lg focus:border-gray-700"
              placeholder="Email_address"
              name="email_address"
            />
          </div>
          <div class="py-2 text-left">
            <input
              type="password"
              class="bg-gray-200 border-2 border-gray-100 focus:outline-none block w-full py-2 px-4 rounded-lg focus:border-gray-700"
              placeholder="Password"
              name="passwords"
            />
          </div>
          <div class="py-2">
            <button
              type="submit"
              class="border-2 border-gray-100 focus:outline-none bg-purple-600 text-white font-bold tracking-wider block w-full p-2 rounded-lg focus:border-gray-700 hover:bg-purple-700"
            >
              Sign In
            </button>
          </div>
        </form>
        <div class="text-center">
          <a href="#" class="text-white hover:underline">Forgot password?</a>
        </div>
        <div class="text-center mt-12 text-white">
          <span> Don't have an account? </span>
          <a
            href="#"
            class="font-light text-md text-gray-400 hover:underline hover:text-white"
            >Create One</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
